<%- include ('../../partials/header.ejs') %>
    <%- include ('../../partials/navbar.ejs') %>
        <div class="container">
            <hr>
            <h2>Categorias</h2>
            <a href="/admin/categories/new"><button class="btn btn-success">Criar nova Categoria</button></a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(category => { %>
                        <tr>
                            <th>
                                <%= category.id %>
                            </th>
                            <th>
                                <%= category.title %>
                            </th>
                            <th>
                                <%= category.slug %>
                            </th>
                            <th class="text-center">
                                <a href="/admin/categories/edit/<%= category.id %>"><button class="btn btn-warning col-md-4">Editar</button></a>

                                <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                                    <input type="hidden" name="id" value="<%= category.id %>">
                                    <button class="btn btn-danger col-md-6">Deletar</button>
                                </form>
                            </th>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>

        <%- include ('../../partials/footer.ejs') %>
            <script>
                function confirmarDelecao(event, form) {
                    event.preventDefault()
                    var decision = confirm("Você quer deletar esta categoria?")

                    if (decision) {
                        console.log("Eu escolhi deletar")
                        form.submit()
                    } else {
                        console.log("Não quero deletar, foi um acidente!")
                    }
                }
            </script>